body {
  background-color: #161616 !important;
}

/* Style for table rows to change background color on hover */
.pointer {
    cursor: pointer;
}

.hovered td {
    background-color: #414142 !important;
}